<h2>About</h2>
<p>I'm a Software Engineer specializing in DevOps, security, and backend development.</p>

<p>I did my studies at <a href="http://english.spbu.ru/">SPbSU</a> (BSc), <a href="https://epfl.ch/">EPFL</a> (MSc), and <a href="https://www.ethz.ch/en.html">ETH Zurich</a>. A former leader of the SPbSU <a href="https://ctftime.org/ctf-wtf/">CTF</a> security team PeterPen.</p>

<p>Some things I admire: open source, llamas (as well as <a href="/images/alpaca_brown.jpg">alpacas</a>!), and <a href="https://en.wikipedia.org/wiki/Massive_open_online_course">MOOCs</a>.
</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/rev112/">GitHub</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-key fa-lg main-list-item-icon"></span>
    <a href="https://keybase.io/tonyo/">Keybase</a>
</ul>
